*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: "DM Sans", sans-serif;
}
.header{
    z-index: 100;
    background: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 0px 2px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 26px -12px rgba(0,0,0,0.75);
}
.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 70px;
    padding: 15px 20px 15px 20px;
    margin-left: 100px;
}
.menu{
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
    font-weight: 700;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 130px;
}
.menu li{
    float: left;
    list-style: none;
}
.menu a{
    margin-left: 20px;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color:lightblue;
    transition: 0.2s ease;
}
.menu i{
    margin-top: 25px;
    margin-left: 20px;
    size: 18px;
    color: black;
}
.menu i:hover{
    color:lightblue;
    transition: 0.2s ease;
}
.slider{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: aquamarine;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    text-align: center;
    padding-top: calc(50% - 650px);
}
.title1{
    font-size: 80px;
    font-weight: 700;
    color: white;
}
.title2{
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 60px;
}
.button a{
    text-decoration: none;
    padding: 15px 40px;
    background: black;
    color: white;
    margin: auto;
    border-radius: 14px;
    font-size: 18px;
    text-transform: uppercase;
}
.button a:hover{
    background: white;
    color: black;
    transition: 0.3s ease;
}
.services{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.img-services{
    width: 400px;
    padding-bottom: 30px;
}
.text{
    width: 1200px;
    margin: auto;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.parallax{
    width: 100%;
    height: 100vh;
    background: url(images/5-web-para-trabajar-y-ganar-dinero-como-redactor-freelance.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: calc(50vh - 50px);
}
.h2sec{
    color: #fff;
    width: 800px;
    height: 100px;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-size: 44px;
}

.articles{
    display: flex;
    width: 100vh;
    margin: 100px auto;
    align-content: center;
}
.article{
    display: inline-block;
    width: 350px;
    background: #fff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
}
.article-title{
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}
.article-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 30px;
}
.article-button{
    text-decoration: none;
    text-align: center;
    padding: 12px 45px;
    background: black;
    color: white;
    border-radius: 14px;
    font-size: 16px;
}
.article-button:hover{
    background: gray;
    color: black;
    transition: 0.3s ease;
}
.footer{
    text-align: center;
    font-size: 20px;
    color: black;
    height: 60px;
    line-height: 60px; 
}